.searchBarContainer{
   background-color: #efefef;
   height: 30px;
   margin: auto;
   display: flex;
   align-items: center;
   border-radius: 12px;

}
input{
  background: none;
  border: none;
  margin-left: 12px;
  flex: 1;
  color: black;
  font-family: 'Montserrat', sans-serif;
}
input:focus{
    outline: none;
}
.btn{
    margin-right: 5px;
    margin-bottom: 0.3rem;
    background-color:#023047;
    border-radius: 6px;
    height: 25px;
    width: 60px;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    color: #fff

   
}
.btn:hover{
    background-color: rgb(0, 0, 0);
}